<html>
    <head>
        <link rel="stylesheet" href="css/sign/signin.css"/>
        <script src="js/sign/signin.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body id="body">
        <div id="bigdiv1">
            <div id="div1">
                <button id="button1">로그인</button>
                <button id="button2" onclick="moveSignUp()">회원가입</button>
                <button id="button3" onclick="moveSignFind()">계정찾기</button>
            </div>
            <h5 id="h1">아이디</h3>
            <input id="input1" placeholder="아이디를 입력해주세요." onchange="signInid()"/>
            <h5 id="h2">비밀번호</h3>
            <input id="input2" placeholder="비밀번호를 입력해주세요." onchange="signInpassword()" type="password"/>
            <button id="button4" onclick="signInfinish()">로그인</button>
        </div>
    </body>
</html>