<html>
    <head>
        <link rel="stylesheet" href="css/checkwrite.css"/>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="js/checkwrite.js"></script>
    </head>
    <body></body>
</html>