<html>
    <head>
        <link rel="stylesheet" href="css/homepage.css"/>
        <script src="js/homepage.js"></script>
    </head>
    <body id="body">
        <div id="bigdiv1">
            <div id="div1">
                <button id="button1" onclick="menu()">menu</button>
            </div>
            <div id="div2">
                <button id="button2" onclick="moveLogIn()">로그인</button>
                <button id="button3" onclick="movePost()">게시판</button>
            </div>
        </div>
    </body>
</html>