<html>
    <head>
        <link rel="stylesheet" href="css/user.css"/>
        <script src="js/user.js"></script>
    </head>
    <body>
        <button id="button1" onclick="moveSignOut()">로그아웃</button>
    </body>
</html>