<html>
    <head>
        <link rel="stylesheet" href="../css/user/user-account.css"/>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/user/user-account.js"></script>
    </head>
    <body id="body">
        <div id="bigdiv1">
            <button id="button1" onclick="movePost()">돌아가기</button>
            <button id="button2">사용자</button>
            <button id="button3">알림</button>
            <input id="input1" placeholder="찾기"/>
        </div>
        <div id="bigdiv2">
            <div>
                <button id="button4" onclick="moveUserProfile()">프로필</button>
                <button id="button5">계정</button>
            </div>
            <div id="div1">보안</div>
            <div id="div2">
                <span id="span1">비밀번호</span>
                <button id="button6" onclick="moveUserRepassword()">비밀번호 변경</button>
            </div>
        </div>
    </body>
</html>