<html>
    <head>
        <link rel="stylesheet" href="../css/user/user-profile.css"/>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/user/user-profile.js"></script>
    </head>
    <body id="body">
        <div id="bigdiv1">
            <button id="button1" onclick="movePost()">돌아가기</button>
            <button id="button2">사용자</button>
            <button id="button3">알림</button>
            <input id="input1" placeholder="찾기"/>
        </div>
        <div id="bigdiv2">
            <div>
                <button id="button4">프로필</button>
                <button id="button5" onclick="moveUserAccount()">계정</button>
            </div>
            <div id="profile-image">
                <div id="div1">프로필 이미지</div>
                <input type="file" id="input2" style="display:none;" oninput="fileInput()"accept="image/*" accept=".jpg"/>
                <label for="input2" id="label1"></label>
                <img id="img1" width="150px" height="150px" src="https://th.bing.com/th/id/OIP.pTg82VZTFrXbh3nTh1x6xAAAAA?rs=1&pid=ImgDetMain"/>
            </div>
            <div id="profile-id">
                <span id="span1">아이디</span>
                <input id="input3" value="아이디"/>
            </div>
            <div id="profile-name">
                <span id="span2">이름</span>
                <input id="input4"/>
                <input id="input5"/>
            </div>
            <button onclick="moveSignOut()">로그아웃</button>
        </div>
    </body>
</html>