<html>
    <head>
        <link rel="stylesheet" href="../css/user/user-repassword.css"/>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/user/user-repassword.js"></script>
    </head>
    <body id="body">
        <div id="bigdiv1">
            <button id="button1" onclick="moveAccount()">돌아가기</button>
            <button id="button2">사용자</button>
            <button id="button3">알림</button>
            <input id="input1" placeholder="찾기"/>
        </div>
        <div id="bigdiv2">
            <div id="div1">
                <h2 id="h1">비밀번호 변경</h1>
                <div id="div2">
                    <div class="div">현재 비밀번호</div>
                    <div class="div1">
                        <input class="input" type="password" id="input2" onchange="accountPassword()"/>
                        <h4 class="h4">현재 비밀번호를 입력해주세요.</h4>
                    </div>
                </div>
                <div id="div3">
                    <div class="div">변경할 비밀번호</div>
                    <div class="div1">
                        <input class="input" type="password" id="input3" onchange="accountRepassword()"/>
                        <h4 class="h4">변경할 비밀번호를 입력해주세요.</h4>
                    </div>
                </div>
                <div id="div4">
                    <div class="div">비밀번호 확인</div>
                    <div class="div1">
                        <input class="input" type="password" id="input4" onchange="accountCheckRepassword()"/>
                        <h4 class="h4">비밀번호 확인을 입력해주세요.</h4>
                    </div>
                </div>
                <div id="div5">
                    <button id="button4" onclick="accountFinish()">변경</button>
                </div>
            </div>
        </div>
    </body>
</html>