#body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(17,17,17);
}

#bigdiv1 {
    display: flex;
    width: 100%;
    height: 40px;
    flex-direction: row-reverse;
    align-items: center;
    background-color: rgb(36,36,36);
    border-bottom: 1px solid rgb(69,73,76);
}

#bigdiv2 {
    position: relative;
    width: 1000px;
    height: 782px;
    border: 1px solid black;
    left: 100px;
    background-color: rgb(34,34,34);
    display: flex;
    justify-content: center;
}

#button1 {
    width: 100px;
    position: absolute;
    border: 0;
    background-color: transparent;
    color: white;
    left:0;
}

#button2 {
    border: 0;
    background-color: transparent;
    color: white;
}

#button3 {
    border: 0;
    background-color: transparent;
    color: white;
}

#button4 {
    background-color: rgb(49, 77, 178);
    border: 0;
    color: white;
    width: 90px;
    height: 36px;
    margin-right: 15px;
    margin-top: 10px;
}

#input1 {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: 0;
    border-bottom: 2px solid white;
    background-color: rgb(69,69,69);
    color: white;
}

#input1::placeholder{
    color: white;
}

#div1 {
    position: absolute;
    width: 750px;
    height: 450px;
    background-color: rgb(51,51,51);
    box-sizing: border-box;
    padding: 15px;
    margin-top: 30px;
    border-radius: 12px;
    border: 1px solid rgb(69,73,76);
}

#div2,#div3,#div4 {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#div5 {
    display: flex;
    position: absolute;
    right: 0%;
}

#h1 {
    color: white;
    font-weight: 500;
    margin: 0;
    margin-bottom: 25px;
}

.h4 {
    margin: 0;
    color: rgb(211,211,211);
    font-weight: 100;
    width: 300px;
    margin-left: 150px;
    position: relative;
    top:10px
}
.div {
    color: white;
    width: 120px;

}

.div1 {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.input {
    position: relative;
    top: 10px;
    width: 100%;
    height: 35px;
    margin-left: 150px;
    background-color: black;
    border: 1px solid rgb(69,73,76);
    outline: 0;
    color: white;
}
