#body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(17,17,17);
}

#bigdiv1 {
    display: flex;
    width: 100%;
    height: 40px;
    flex-direction: row-reverse;
    align-items: center;
    background-color: rgb(36,36,36);
    border-bottom: 1px solid rgb(69,73,76);
}

#bigdiv2 {
    position: relative;
    width: 1000px;
    height: 782px;
    border: 1px solid black;
    left: 100px;
    background-color: rgb(34,34,34);
}

#button1 {
    width: 100px;
    position: absolute;
    border: 0;
    background-color: transparent;
    color: white;
    left:0;
}

#button2 {
    border: 0;
    background-color: transparent;
    color: white;
}

#button3 {
    border: 0;
    background-color: transparent;
    color: white;
}

#button4 {
    border: 0;
    background-color: transparent;
    color: rgb(211,211,211);
    margin-top: 15px;
    margin-left: 30px;
    font-size: 25px;
}

#button5 {
    border: 0;
    background-color: transparent;
    color: rgb(211,211,211);
    font-size: 25px;
    margin-left: 10px;
    border-bottom: 2px solid rgb(78,90,181);
}

#button6 {
    background-color: gray;
    margin-left: 150px;
    border: 0px;
    color: white;
    height: 30px;
}

#div1 {
    font-size: 20px;
    color: rgb(211,211,211);
    margin-top: 25px;
    margin-left: 30px;
}

#div2 {
    margin-top: 20px;
}

#span1{
    font-size: 15px;
    color: rgb(211,211,211);
    margin-left: 30px;
}

#input1 {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: 0;
    border-bottom: 2px solid white;
    background-color: rgb(69,69,69);
    color: white;
}

#input1::placeholder{
    color: white;
}